/node_modules
/public/hot
/public/storage
/public/css/
/public/js/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php82-nodejs16
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.config
/.local
public/cronlogfile.log
public/logfile.log
public/adminer-5.3.0.php
